<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyx.biz.wechat.mapper.WechatCommunityMapper">
  <resultMap id="BaseResultMap" type="com.kyx.biz.wechat.model.WechatCommunity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="last_login" jdbcType="INTEGER" property="lastLogin" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, open_id, user_name, last_login, add_time, app_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wechat_community_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wechat_community_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kyx.biz.wechat.model.WechatCustomer">
    insert into wechat_community_info (id, open_id, user_name, last_login, add_time, app_id)
    values (#{id,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR},
      #{userName,jdbcType=VARCHAR}, #{lastLogin,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP},
      #{appId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kyx.biz.wechat.model.WechatCustomer">
    insert into wechat_community_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="lastLogin != null">
        last_login,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="appId != null">
        app_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="lastLogin != null">
        #{lastLogin,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kyx.biz.wechat.model.WechatCustomer">
    update wechat_community_info
    <set>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="lastLogin != null">
        last_login = #{lastLogin,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kyx.biz.wechat.model.WechatCustomer">
    update wechat_community_info
    set open_id = #{openId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      last_login = #{lastLogin,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      app_id = #{appId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getByAppidAndOpenId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wechat_community_info
    where open_id = #{openId} and app_id=#{appId} and last_login=1
  </select>
  
  <select id="selectByUserName" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wechat_community_info
    where user_name = #{userName,jdbcType=VARCHAR}
    order by add_time desc
    LIMIT 1
  </select>
</mapper>