<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	  	http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd"
	default-autowire="byName">
        <!--    启动注解驱动mvc功能-->
	<beans:bean id="utf8Charset" class="java.nio.charset.Charset" factory-method="forName">
		<beans:constructor-arg value="UTF-8" />
	</beans:bean>
	<mvc:annotation-driven>
<!--	     中文乱码转换器 主要针对ajax-->
		<mvc:message-converters>
			<beans:bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<beans:constructor-arg ref="utf8Charset" />
			</beans:bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
    <beans:bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <beans:property name="maxUploadSize" value="60485760"/>
    </beans:bean>
        <!--	排除扫描的service 因为applicationcontext扫描了service 避免冲突-->
	<context:component-scan base-package="com.kyx">
<!-- 		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" /> -->
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>
	</context:component-scan>
	<!--aop拦截日志起作用 -->
	    <aop:aspectj-autoproxy proxy-target-class="true"/>
       <!--	spring mobile攔截器 判斷設備跳轉到手機 電腦還是平板視圖-->
	<mvc:interceptors>
		<beans:bean
			class="org.springframework.mobile.device.DeviceResolverHandlerInterceptor" />
		<beans:bean
			class="org.springframework.mobile.device.site.SitePreferenceHandlerInterceptor" />
	</mvc:interceptors>
       <!--	視圖配置-->
	<beans:bean
		class="org.springframework.mobile.device.view.LiteDeviceDelegatingViewResolver">
		<beans:constructor-arg>
			<beans:bean
				class="org.springframework.web.servlet.view.InternalResourceViewResolver">
				<beans:property name="prefix" value="/WEB-INF/views/" />
				<beans:property name="suffix" value=".jsp" />
			</beans:bean>
		</beans:constructor-arg>
		<beans:property name="enableFallback" value="true" />
		<beans:property name="normalPrefix" value="pc/" />
		<beans:property name="mobilePrefix" value="mobile/" />
		<beans:property name="tabletPrefix" value="tablet/" />
	</beans:bean>
</beans:beans>