<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyx.biz.coupon.mapper.CouponMapper">
  <resultMap id="BaseResultMap" type="com.kyx.biz.coupon.model.Coupon">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="value" jdbcType="DECIMAL" property="value" />
    <result column="days" jdbcType="INTEGER" property="days" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="statue" jdbcType="INTEGER" property="statue" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="shop_id" jdbcType="INTEGER" property="shopId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, value, days, create_time, statue, remark, shop_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from coupon
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from coupon
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kyx.biz.coupon.model.Coupon">
    insert into coupon (id, name, value, 
      days, create_time, statue, 
      remark, shop_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{value,jdbcType=DECIMAL}, 
      #{days,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{statue,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{shopId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kyx.biz.coupon.model.Coupon">
    insert into coupon
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="days != null">
        days,
      </if>
        create_time,
      <if test="statue != null">
        statue,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=DECIMAL},
      </if>
      <if test="days != null">
        #{days,jdbcType=INTEGER},
      </if>
      now(),
      <if test="statue != null">
        #{statue,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kyx.biz.coupon.model.Coupon">
    update coupon
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=DECIMAL},
      </if>
      <if test="days != null">
        days = #{days,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statue != null">
        statue = #{statue,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kyx.biz.coupon.model.Coupon">
    update coupon
    set name = #{name,jdbcType=VARCHAR},
      value = #{value,jdbcType=DECIMAL},
      days = #{days,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      statue = #{statue,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      shop_id = #{shopId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
    <select id="getList" parameterType="com.kyx.biz.coupon.model.Coupon" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    	from coupon   where 1=1
   	  <if test="name != null">
        and name  like CONCAT('%',#{name},'%')
      </if>
      <if test="days != null">
        and days = #{days,jdbcType=INTEGER}
      </if>
      <if test="statue != null">
        and statue = #{statue,jdbcType=INTEGER}
      </if>
      <if test="shopId != null">
        and shop_id = #{shopId,jdbcType=INTEGER}
      </if>
     order by id desc
  </select>
  
</mapper>